[submodule "Liv.And.Maddie/S01E17-checked"]
	path = Liv.And.Maddie/S01E17-checked
	url = https://gist.github.com/10721879.git
[submodule "Liv.And.Maddie/S01E17-original"]
	path = Liv.And.Maddie/S01E17-original
	url = https://gist.github.com/10705558.git
[submodule "Liv.And.Maddie/S01E14-checked"]
	path = Liv.And.Maddie/S01E14-checked
	url = https://gist.github.com/10103434.git
[submodule "Liv.And.Maddie/S01E16-checked"]
	path = Liv.And.Maddie/S01E16-checked
	url = https://gist.github.com/10086984.git
[submodule "Liv.And.Maddie/S01E13-checked"]
	path = Liv.And.Maddie/S01E13-checked
	url = https://gist.github.com/9768699.git
[submodule "Liv.And.Maddie/S01E12-checked"]
	path = Liv.And.Maddie/S01E12-checked
	url = https://gist.github.com/9445479.git
[submodule "Liv.And.Maddie/S01E15-checked/part1"]
	path = Liv.And.Maddie/S01E15-checked/part1
	url = https://gist.github.com/9851889.git
[submodule "Liv.And.Maddie/S01E15-checked/part2"]
	path = Liv.And.Maddie/S01E15-checked/part2
	url = https://gist.github.com/9851899.git
[submodule "Liv.And.Maddie/S01E15-checked/part3"]
	path = Liv.And.Maddie/S01E15-checked/part3
	url = https://gist.github.com/9851943.git
[submodule "Liv.And.Maddie/S01E15-checked/part4"]
	path = Liv.And.Maddie/S01E15-checked/part4
	url = https://gist.github.com/9852261.git
[submodule "Liv.And.Maddie/S01E15-checked/part5"]
	path = Liv.And.Maddie/S01E15-checked/part5
	url = https://gist.github.com/9852321.git
[submodule "Liv.And.Maddie/S01E15-checked/part6"]
	path = Liv.And.Maddie/S01E15-checked/part6
	url = https://gist.github.com/9852382.git
[submodule "Liv.And.Maddie/S01E15-checked/part7"]
	path = Liv.And.Maddie/S01E15-checked/part7
	url = https://gist.github.com/9852429.git
[submodule "Liv.And.Maddie/S01E15-checked/part8"]
	path = Liv.And.Maddie/S01E15-checked/part8
	url = https://gist.github.com/9852532.git
[submodule "Liv.And.Maddie/S01E15-checked/part9"]
	path = Liv.And.Maddie/S01E15-checked/part9
	url = https://gist.github.com/xcvista/9858726
[submodule "Liv.And.Maddie/S01E15-checked/part10"]
	path = Liv.And.Maddie/S01E15-checked/part10
	url = https://gist.github.com/9858780.git
[submodule "Liv.And.Maddie/S01E15-checked/part11"]
	path = Liv.And.Maddie/S01E15-checked/part11
	url = https://gist.github.com/9858827.git
[submodule "Liv.And.Maddie/S01E15-checked/part12"]
	path = Liv.And.Maddie/S01E15-checked/part12
	url = https://gist.github.com/9858869.git
[submodule "Liv.And.Maddie/S01E15-checked/part13"]
	path = Liv.And.Maddie/S01E15-checked/part13
	url = https://gist.github.com/9858956.git
[submodule "Liv.And.Maddie/S01E15-checked/part14"]
	path = Liv.And.Maddie/S01E15-checked/part14
	url = https://gist.github.com/9858992.git
[submodule "Liv.And.Maddie/S01E15-checked/part15"]
	path = Liv.And.Maddie/S01E15-checked/part15
	url = https://gist.github.com/9859015.git
[submodule "Liv.And.Maddie/S01E11-original"]
	path = Liv.And.Maddie/S01E11-original
	url = https://gist.github.com/10979487.git
[submodule "Liv.And.Maddie/S01E10-original"]
	path = Liv.And.Maddie/S01E10-original
	url = https://gist.github.com/11025738.git
[submodule "Liv.And.Maddie/S01E11-checked"]
	path = Liv.And.Maddie/S01E11-checked
	url = https://gist.github.com/11079754.git
[submodule "misc/This.Is.Who.I.Am.Dove.Cameron-original"]
	path = misc/This.Is.Who.I.Am.Dove.Cameron-original
	url = https://gist.github.com/9747155.git
[submodule "misc/This.Is.Who.I.Am.Ross.Lynch-original"]
	path = misc/This.Is.Who.I.Am.Ross.Lynch-original
	url = https://gist.github.com/9758185.git
[submodule "misc/This.Is.Who.I.Am.Laura.Marano-original"]
	path = misc/This.Is.Who.I.Am.Laura.Marano-original
	url = https://gist.github.com/9758923.git
